<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fair Fare</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="/dist/style.css" rel="stylesheet" />

  </head>

  <body>
    <header>
      <h1>Welcome to Fair Fare!</h1>
      <h5>A plate that doesn't suck!</h5>
    </header>
    <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
        <button id="logout" class="btn">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>