<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" type="image/jpg" href="/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {{! <link href="/dist/style.css" rel="stylesheet" /> }}
    <title>Fair Fare</title>
  </head>

  <body>
    <header>
      <h1>Welcome to Fair Fare!</h1>
      <h5>A plate that doesn't suck!</h5>
    </header>
    <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}

    </nav>
    <main>

    </main>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    {{{body}}}
    <footer class="col-12">
      <h1>Made with ❤️ by fine folks at the-foo-d-s</h1>
    </footer>
    <script src=".../assets/script.js"></script>
  </body>
</html>