<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" type="image/jpg" href="/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {{! <link href="/dist/style.css" rel="stylesheet" /> }}
    <title>Fair Fare</title>
  </head>

  <body>
    <header>
      <div class="text-center justify-center items-center font-light">
        <h1
          class="lg:text-6xl sm:text-4xl text-3xl mb-1 text-blue-600 hover:text-black duration-300"
        >Fair Fare</h1>
        <h5
          class="lg:text-xl sm:text-base text-sm text-blue-600 text-center justify-center items-center italic"
        >Made with ❤️ by the foo-d-s</h5>
      </div>
    </header>
    <nav>

      <a href="/">Home</a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}

      {{! <main>

      </main> }}
    </nav>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}

    {{{body}}}
    {{! <footer class="text-blue-600 text-center justify-center items-center">Made
      with ❤️ by the foo-d-s</footer> }}
  </body>
  <script src="app.js"></script>
  <script src=".../assets/script.js"></script>

</html>