<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fair Fare</title>
    <link rel="shortcut icon" type="image/jpg" href="/public/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="/dist/style.css" rel="stylesheet" />

  </head>

  <body>
    <header>
      <h1>Welcome to Fair Fare!</h1>
      <h5>A plate that doesn't suck!</h5>
    </header>
    <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
      <div class="container-fluid w-75 justify-content-center">
        <form class="d-flex col-6" role="search" id="btn-submit">
          <select
            class="form-select"
            id="genrePicker"
            aria-label="Default select example"
            style="padding: 4px; width: 450px"
          >
            <option selected>Please select your restaurant type:</option>
            <option value="1" id="1">American</option>
            <option value="2" id="2">Asian</option>
            <option value="3" id="3">Italian</option>
            <option value="4" id="4">Mexican</option>
            <option value="5" id="5">Random...</option>
          </select>
        </form>
      </div>
    </nav>
    <main>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    {{{body}}}
  </body>
  ><script src=".../assets/script.js"></script>
</html>