<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" type="image/jpg" href="/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {{! <link href="/dist/style.css" rel="stylesheet" /> }}
    <title>Fair Fare</title>
  </head>

  <body>
    <header>
      <div class="text-center justify-center items-center font-bold">
        <h1
          class="lg:text-9xl sm:text-6xl text-4xl mb-10 text-blue-600 hover:text-black duration-300"
        ><a href="/">Fair Fare</a></h1>
        <h5
          class="text-blue-600 text-xl flex justify-center items-center transform hover:scale-110 duration-300"
        >Finding the perfect plate</h5>
      </div>
    </header>
    <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}

    </nav>
    <main>

    </main>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    {{{body}}}
    <footer class="text-blue-600 text-center justify-center items-center">Made
      with ❤️ by the foo-d-s</footer>
    <script src="app.js"></script>
    <script src=".../assets/script.js"></script>
  </body>
</html>