<div class="">
        <form class="d-flex col-12 category-select justify-content-center" role="search" id="btn-submit">
          <select
            class="form-select"
            id="genrePicker"
            aria-label="Default select example"
            style="padding: 4px; width: 450px"
          >
            <option selected>Please select your restaurant type:</option>
            {{#each types as |style|}}
            <option value="{{id}}">{{type}}</option>          
            {{/each}}
          </select>
              <button class="btn btn-primary" type="submit">Go</button>
        </form>
</div>

<script src="./js/selection.js"></script>